<div class="modal-content" *ngIf="!showSummary">
  <div class="custom-dialog-header">
    <h4 class="label-header-dialog">{{packageData?.PackageDetails?.packageName}}</h4>
  </div>
  <div class="custom-bg-package">
  <div class="description-dialog">
      <div class="d-flex justify-content-between">
          <img src="assets/images/cater/01.png" alt="" class="foodie">
        <p>{{packageData?.PackageDetails?.PkgDescription}}</p>
        <p>${{packageData?.PackageDetails?.packageCost}}</p>
        <input type="number"  id="comboqtyid"  class="quantity-input custom-quantity-number"  (change)="changeTotalQty($event)"  id="pkgqty"  [value]="packageData?.PackageDetails?.PkgQty" min="1" >
        <p class="mr-3" *ngIf="packageData?.PackageDetails?.packageCost > 0">${{(packageData?.PackageDetails?.packageCost * packQuantity).toFixed(2)}}</p>
      </div>
    <!-- <div class="d-flex">
    <div class="custom-package-items">
      <p class="custom-weight-font">{{ packageData?.PackageDetails?.packageName}}</p>

    </div>

    <div class="custom-currency-dialog d-flex justify-content-between">
      <p class="custom-weight-font">-  ${{packageData?.PackageDetails?.packageCost}}</p>

    </div>
    </div> -->
    <!-- <div>
        <p class="ml-1">{{packageData?.PackageDetails?.PkgDescription}}</p>
      </div> -->
      <!-- <div class="custom-addCart-Btn">
        <div class="package-right-quantity" >
            <span class="mr-2 mt-1" *ngIf="packageData?.PackageDetails?.packageCost > 0">${{(packageData?.PackageDetails?.packageCost * packQuantity).toFixed(2)}}</span><input type="number" (change)="changeTotalQty($event)"  id="pkgqty" class="quantity-input" [value]="packageData?.PackageDetails?.PkgQty" min="1" >
        </div>
      </div> -->

  </div>
    <div class="custom-scroll-packages">
      <div class="alert alert-info" role="alert" *ngIf="packageData?.PackageDetails?.packageType === '1' &&
                                                              packageData?.PackageDetails?.PkgQty> 0 &&
                                                              packageData?.PackageDetails?.pkgMinItems !=='0' &&
                                                              packageData?.PackageDetails?.pkgMinItems !=='0'">
      <span  *ngIf="packageData?.PackageDetails?.pkgMinItems !== packageData?.PackageDetails?.pkgMaxItems">Please select between {{packageData?.PackageDetails?.pkgMinItems}} and {{packageData?.PackageDetails?.pkgMaxItems}} items from this list. The total item quantity should be  equal to  {{packQuantity}}.</span>
      <span *ngIf="packageData?.PackageDetails?.pkgMinItems === packageData?.PackageDetails?.pkgMaxItems">Please select {{packageData?.PackageDetails?.pkgMinItems}} item(s) from this list. The total item quantity should be  equal to  {{packQuantity}}.</span>
      </div>
      <div class="alert alert-info mt-2" role="alert" *ngIf="packageData?.PackageDetails?.packageType === '1' &&
          packageData?.PackageDetails?.PkgQty>0 &&
         packageData?.PackageDetails?.pkgMinItems ==='0' &&
        packageData?.PackageDetails?.pkgMinItems ==='0'">
        Note : Please select your items from this list. The total item quantity should be  equal to {{packQuantity}}
      </div>
      <div class="custom-dialog-specific ml-2 mr-2">
      <div *ngFor="let item of packageData?.PackageItems;let i=index;" class="custom-currency-dialog d-flex justify-content-between custom-border-wrapper mt-2">
        <p class="custom-weight-font">{{item.pkgItemname}}</p>
        <div class="custom-addCart-Btn">
          <div class=""  *ngIf="packageData?.PackageDetails?.packageType === '1'">
            <input type="number" [id]="item.pkgItemId"  class="quantity-input" [value]="item['pkgItemQty']"   min="0">
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center custom-package-btns">
      <button class="pull-right  custom-color-save"  (click)="closeModal()">Close</button>&nbsp;
      <button class="pull-right" type="save" value="save" (click)="summary()">Save</button>
    </div>
  </div>
  </div>
</div>







<!-- show summary -->

<div class="modal-content" *ngIf="showSummary">
  <div class="custom-dialog-header">
    <h4 class="label-header-dialog">{{packageData?.PackageDetails?.packageName}}</h4>
  </div>
  <div class="custom-bg-package">
  <div class="description-dialog">
      <div class="d-flex justify-content-between">
          <img src="assets/images/cater/01.png" alt="" class="foodie">
        <p>{{packageData?.PackageDetails?.PkgDescription}}</p>
        <p>${{packageData?.PackageDetails?.packageCost}}</p>
        <input type="number"   id="comboqtyid"  class="quantity-input readonly-number-input custom-quantity-number"  (change)="changeTotalQty($event)"  id="pkgqty"  [value]="packageData?.PackageDetails?.PkgQty" min="1" >
        <p class="mr-3" *ngIf="packageData?.PackageDetails?.packageCost > 0">${{(packageData?.PackageDetails?.packageCost * packQuantity).toFixed(2)}}</p>
      </div>
  </div>
    <div class="custom-scroll-packages">
      <div class="custom-dialog-specific ml-2 mr-2">
        <ng-container  *ngFor="let item of packageData?.PackageItems;let i=index;">
      <div  *ngIf="item.pkgItemQty>0" class="custom-currency-dialog d-flex justify-content-between custom-border-wrapper mt-2">
       <p class="custom-weight-font">{{item.pkgItemname}}</p>
        <div class="custom-addCart-Btn">
          <div class=""  *ngIf="packageData?.PackageDetails?.packageType === '1' ">
            <input type="number" [id]="item.pkgItemId"   class="quantity-input readonly-number-input" [value]="item['pkgItemQty']"   min="0">
          </div>
        </div>
      </div></ng-container>
    </div>
    <div class="d-flex justify-content-center custom-package-btns">
      <button class="pull-right  custom-color-save"  (click)="closeModal()">Close</button>&nbsp;
      <button class="pull-right" type="save" value="save" (click)="onSave()">confirm</button>
    </div>
  </div>
  </div>
</div>
