<section id="contact">
        <div class="content">
            <div id="form">
                <!-- <form action="" id="contactForm" method="post"> -->
                    
                    <span>First Name</span>
                    <input type="text" name="name" class="name" placeholder="Enter your first name">
                    <span>Last Name</span>
                    <input type="text" name="name" class="name" placeholder="Enter your last name">
                    <span>Email</span>
                    <input type="text" name="email" class="email" placeholder="Enter your email">
                    <span>Phone</span>
                    <input type="" name="" class="email" placeholder="Enter your number">
                    <span>Street</span>
                    <input type="" name="" class="email" placeholder="Enter your street">
                    <span>Suite</span>
                    <input type="" name="" class="email" placeholder="Enter your suite">
                    <span>City</span>
                    <input type="" name="" class="email" placeholder="Enter your city">
                    <span>State</span>
                    <input type="" name="" class="email" placeholder="Enter your state">
                    <span>Zip Code</span>
                    <input type="" name="" class="email" placeholder="Enter your zip code">
                    <span id="captcha">5218 <i class="fa fa-refresh" aria-hidden="true"></i></span>
                    <input type="text" name="captcha" class="captcha" maxlength="4" size="4" placeholder="Enter captcha code">
                    <input type="submit" name="submit" value="Sign Up" class="submit">
                <!-- </form> -->
            </div>
            <div class="custom-alert-login">
                    <p>Already have an account?<span class="ml-10">Sign In</span></p>
                </div>
        </div>
</section>
