<section id="contact">
        <div class="content">
            <div id="form">
                <!-- <form action="" id="contactForm" method="post"> -->
                    <span>First Name</span>
                    <input type="text" name="name" class="name" placeholder="Enter your name">
                    <span>Last Name</span>
                    <input type="text" name="name" class="name" placeholder="Enter your name">
                    <span>Username</span>
                    <input type="text" name="name" class="name" placeholder="Enter your name">
                    <span>Password</span>
                    <input type="text" name="name" class="name" placeholder="Enter your name">
                    <span>Confirm Password</span>
                    <input type="text" name="name" class="name" placeholder="Enter your name">
                    <span>Email</span>
                    <input type="text" name="email" class="email" placeholder="Enter your email">
                    <span>Phone</span>
                    <input type="" name="" class="email" placeholder="Enter your number">
                    <!-- <div>
                    <span id="captcha">5218 <i class="fa fa-refresh" aria-hidden="true"></i></span>

                    </div> -->
                    <!-- <input type="text" name="captcha" class="captcha" maxlength="4" size="4" placeholder="Enter captcha code"> -->
                    <span>Address</span>
                    <textarea class="message" placeholder="Enter your address"></textarea>
                    <input type="submit" name="submit" value="Sign Up" class="submit">
                <!-- </form> -->
            </div>
        </div>
</section>
