input::-webkit-input-placeholder {
    position: relative;
    left: 0;
}

div{
    position: relative;
    right: 20px;
    top: 10px;
  }
  .content {
    
    padding: 20px 0px 50px 50px !important;   
}
#contact {
    margin-top: 87px !important;
}