<div class="header">
  <img src="../../../assets/images/Aquila2.png" class="aquilia-logo">
  <img src="../../../assets/images/Aquila2.png" class="aquilia-logo">
  <div class="header-right">
    <div class="custom-info">
      <p class="custom-text-colour">Info</p>
      <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Hooray!"></i>
    </div>
    <div class="custom-logout">
      <p class="custom-text-colour">Logout</p>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </div>
    <div class="custom-user-wrapper">
      <p class="custom-text-colour">User Name</p>
      <i class="fa fa-user custom-fa-user" aria-hidden="true"></i>
    </div>
  </div>
</div>


<!-- <div class="footer">
  <p class="custom-footer-align">Copyright © 2020 E-Catering.com. All Rights Reserved.</p>
</div> -->
