<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li>
          <div class="d-flex custom-image-section">
              <img src="../../../assets/images/doorway.svg" class="image">
              <a href="#">ENTREES</a>
          </div>
      </li>
      <li>
          <div class="d-flex custom-image-section">
              <img src="../../../assets/images/soupps.svg" class="image">
              <a href="#">SOUP & STARTERS</a>
          </div>
      </li>
      <li>
          <div class="d-flex custom-image-section">
              <img src="../../../assets/images/salad11.svg" class="image">
              <a href="#">SALAD & SIDES</a>
          </div>
      </li>
      <li>
          <div class="d-flex custom-image-section">
              <img src="../../../assets/images/desertsss.svg" class="image">
              <a href="#">DESERTS & FROZEN TREATS</a>
          </div>
      </li>
      <li>
          <div class="d-flex custom-image-section">
              <img src="../../../assets/images/grocer.svg" class="image">
              <a href="#">GROCERIES & GRILL OPTIONS</a>
          </div>
      </li>
      <li>
          <div class="d-flex custom-image-section">
              <img src="../../../assets/images/w-winee.svg" class="image">
              <a href="#">WHITE WHINE (BY THE BOTTLE)</a>
          </div>
      </li>
      <li>
          <div class="d-flex custom-image-section">
              <img src="../../../assets/images/rose-winee.svg" class="image">
              <a href="#">ROSE WINE (BY THE BOTTLE)</a>
          </div>
      </li>
      <li>
          <div class="d-flex custom-image-section">
              <img src="../../../assets/images/spark-wineee.svg" class="image">
              <a href="#">SPARKLING WINE (BY THE BOTTLE)</a>
          </div>
      </li>
      <li>
          <div class="d-flex custom-image-section">
              <img src="../../../assets/images/beerss.svg" class="image">
              <a href="#">BEER (SIX PACKS)</a>
          </div>
      </li>
  </ul>
</div>
