
<div class="custom-bag-items-dropdown">
  <ng-container *ngFor="let item of cart?.menuItems">
    <div class="d-flex justify-content-between cater-bag-items-content">
      <p class="cater-content-items">{{item.itemName}}</p>
      <span class="cater-items-qauantities">x{{item.quantity}}</span>
    </div>
  </ng-container>

  <ng-container *ngFor="let item of cart?.package">
    <div class="d-flex justify-content-between cater-bag-items-content">
      <p class="cater-content-items">{{item.PackageDetails.packageName}}</p>
      <span class="cater-items-qauantities">x{{item.PackageDetails.PkgQty}}</span>
    </div>
  </ng-container>

  <ng-container *ngFor="let item of cart?.combo">
    <div class="d-flex justify-content-between cater-bag-items-content">
      <p class="cater-content-items">{{item.ComboDetails.comboName}}</p>
      <span class="cater-items-qauantities">x{{item.ComboDetails.comboQty}}</span>
    </div>
  </ng-container>
</div>





