.card {
    top: 92px;
    // height: 88vh;
}
.card-header{
    display: none;
}

.table-striped {
    position: relative;
    top: 0;
}
.place-order-color {
    background-color: #262262 !important;
    border-color: #262262 !important;
    border-radius: 0;
    outline: 0;
    font-weight: 600;
    border: 0;
}
.place-order-color:not(:disabled):not(.disabled):active, .show>.place-order-color.dropdown-toggle {
    background-color: #262262 !important;
    border-color: #262262 !important;
    outline: 0;
}

.place-order-color:not(:disabled):not(.disabled):active:focus, .show>.place-order-color.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 0;
    min-width: 10.3rem;
}

.bg-hover:hover {
    background-color: lightgrey;
  }

  .bg-hover a:hover {
    text-decoration: none;
  }

  .place-order-button{
    display: flex;
    justify-content: space-between;
  }

  .table-header-order{
    background: #262262;
    color: #fff;
  }

  .mb-3 {
    margin-bottom: 10px !important;
}

.mb-4 {
    margin-bottom: 1.2rem!important;
}