<h1 class="register-header-wrapper">Place Order</h1>
<div class="container responsive-container">
  <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
      <div class="row mb-4 delivery-content-width">
        <div class="col-sm-6">
          <div>
            <strong>Tirupathi Naidu</strong>
          </div>
          <div>R & R Enclave</div>
          <div>Suit 300</div>
          <div>Hyderabad - 500050</div>
        </div>

        <div class="col-sm-6">
          <div>
            <strong>Delivery / PickUp Info</strong>
          </div>
          <div>{{orderDetails.street}}</div>
          <div>{{orderDetails.suite}}</div>
          <div>{{orderDetails.city}}</div>
          <div>{{orderDetails.state}}- {{orderDetails.state}}</div>
        </div>



      </div>

      <div class="table-responsive-sm">
        <table class="table table-striped">
          <thead class="table-header-order">
            <tr>
              <th class="center">#</th>
              <th>Item</th>
              <!-- <th>Description</th> -->

              <th class="right">Qty</th>
              <th class="center">Unit Price</th>
              <th class="right">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems; let i=index;">
              <td class="center">{{i+1}}</td>
              <td class="left strong">{{item.itemName}}</td>
              <!-- <td class="left">Extended License</td> -->

              <td class="right">{{item.quantity}}</td>
              <td class="center">{{item.price}}</td>
              <td class="right">{{item.quantity * item.price}}</td>
            </tr>

          </tbody>
        </table>
      </div>


      <div class="place-order-button">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle place-order-color" type="button" data-toggle="dropdown">Payment
            Option
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class="bg-hover"><a class="text-place-order" href="#">Credit Card</a></li>
            <li class="bg-hover"><a class="text-place-order" href="#">Pay Later</a></li>
          </ul>
        </div>
        <input type="submit" name="submit" value="Confirm Order" class="btn-primary place-order-color">
      </div>

    </div>
  </div>
</div>
