<h1 class="register-header-wrapper responsive-header-custom">Place Order</h1>
<div class="container responsive-container">
  <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body" >
      <div class="row mb-4 delivery-content-width">
        <div class="col-sm-9"  *ngIf="customerAddress">
          <div>
            <strong>{{customerAddress.billAddress_contactName}}</strong>
          </div>
          <div>{{customerAddress.billAddress_street}}</div>
          <div>{{customerAddress.billAddress_suite}}</div>
          <div>{{customerAddress.billAddress_state}} - {{customerAddress.billAddress_zip}}</div>
        </div>

        <div class="col-sm-9"  *ngIf="!customerAddress">
          <div class="custom-pickupInfo">
            <strong>Billing Address</strong>
          </div>
          <div>{{orderDetails.street}}</div>
          <div>{{orderDetails.suite}}</div>
          <div>{{orderDetails.city}}</div>
          <div>{{orderDetails.state}}- {{orderDetails.state}}</div>
        </div>

        <div class="col-sm-3">
          <div class="custom-pickupInfo">
            <strong>Delivery / PickUp Info</strong>
          </div>
          <div>{{orderDetails.street}}</div>
          <div>{{orderDetails.suite}}</div>
          <div>{{orderDetails.city}}</div>
          <div>{{orderDetails.state}}- {{orderDetails.state}}</div>
        </div>



      </div>

      <div class="table-responsive-sm">
        <table class="table table-striped">
          <thead class="table-header-order">
            <tr>
              <th class="center">#</th>
              <th>Item</th>
              <!-- <th>Description</th> -->

              <th class="right">Qty</th>
              <th class="center">Unit Price</th>
              <th class="right">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart.menuItems; let i=index;">
              <td class="center">{{i+1}}</td>
              <td class="left strong">{{item.itemName}}</td>
              <!-- <td class="left">Extended License</td> -->

              <td class="right">{{item.quantity}}</td>
              <td class="center">{{item.price}}</td>
              <td class="right">{{item.quantity * item.price}}</td>
            </tr>
            <tr *ngFor="let item of cart.package; let i=index;">
              <td class="center">{{i+1}}</td>
              <td class="left strong">{{item.PackageDetails.packageName}}</td>
              <!-- <td class="left">Extended License</td> -->

              <td class="right">{{item.PackageDetails.PkgQty}}</td>
              <td class="center">{{item.PackageDetails.packageCost}}</td>
              <td class="right">{{item.PackageDetails.PkgQty * item.PackageDetails.packageCost}}</td>
            </tr>
            <tr *ngFor="let item of cart.combo; let i=index;">
              <td class="center">{{i+1}}</td>
              <td class="left strong">{{item.ComboDetails.comboName}}</td>
              <!-- <td class="left">Extended License</td> -->

              <td class="right">{{item.ComboDetails.comboQty}}</td>
              <td class="center">{{item.ComboDetails.comboCost}}</td>
              <td class="right">{{item.ComboDetails.comboQty * item.ComboDetails.comboCost}}</td>
            </tr>
            <tr>
              <td class="center"></td>
              <td class="left strong"></td>
              <td class="right"></td>
              <td class="center">Total</td>
              <td class="right">{{totalAmount}}</td>
            </tr>

          </tbody>
        </table>
      </div>


      <div class="place-order-button">
        <div class="dropdown">
          <select class="placed-order-wrapper" >
            <option class="custom-select-color-wrapper" value="creditcard">Credit Card</option>
            <option *ngIf="this.loginres.AuthenticateUser.userId !== 0" class="custom-select-color-wrapper" value="paylater">Pay Later</option>
          </select>
          <!-- <button class="btn btn-primary dropdown-toggle place-order-color" type="button" data-toggle="dropdown">Payment
            Option
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class="bg-hover"><a class="text-place-order" href="javascript:void(0)">Credit Card</a></li>
            <li class="bg-hover"><a class="text-place-order" href="javascript:void(0)">Pay Later</a></li>
          </ul> -->
        </div>
        <input type="submit"  name="submit" value="Confirm Order" data-toggle="modal" data-target="#exampleModal" class="btn-primary place-order-color">
      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to confirm this order?
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn blue-button" (click)="confirmOrder()" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>
