<div class="custom-bag">
  <i class="fa fa-shopping-cart cater-shopping-cart" aria-hidden="true"></i>
  <div class="bag-items">
     <app-cater-theme-one-cart></app-cater-theme-one-cart>
  </div>
</div>
<div>
<div class="custom-theme-description">
  <h3 class="custom-main-course">{{subSectionMenu[0]?.sectionName}}</h3>
  <p class="sub-description-text-cater">{{subSectionMenu[0]?.subSectionName}}</p>
</div>

<div class="d-flex justify-content-around">
    <input type="text" placeholder="Search.." [(ngModel)]="searchTerm" name="search" class="cater-search">
    <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
</div>
</div>

<div class="container card-container">
<div class="row">
<div class="col-md-4" *ngFor="let item of subSectionMenu|filter:searchTerm;">
    <figure class="card card-product">
        <div class="img-wrap"></div>
        <figcaption class="info-wrap">
            <div class="custom-image-wrap-container">
            <div class="width-alignments-description">
                <h4 class="title">{{item.itemName}}</h4>
                <p class="desc order-desc">{{item.description |slice:0:40}}</p>
                <div class="d-flex justify-content-between">
                <p class="label-rating">${{item.price}}</p>
                <div class="cart-buttons d-flex select-cart-btns">
                  <i class="fa fa-minus-circle px-1 orange " *ngIf="item.quantity > 0"  aria-hidden="true"  (click)="decreaseQuantity(item)"></i>
                  <span class="px-1 my-0 py-0" *ngIf="item.quantity > 0">{{item.quantity}}</span>
                  <i class="fa fa-plus-circle px-1 orange" aria-hidden="true" (click)="addToCart(item)"></i>
                    <!-- <button type="button" class="button-customize">Customize</button>
                    <button type="button" class="theme-button-width-alignment">ADD</button> -->
                </div>
            </div>
            </div>
            <div class="cater-image-burger">
              <img *ngIf="item.blobcontent" [src]="('data:image/JPEG;base64,' + item.blobcontent) | domsanitize" alt="" class="foodie foodie-theme">
              <img *ngIf="!item.blobcontent" src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
            </div>
        </div>
        </figcaption>
    </figure>
</div>


</div>
</div>
<div class="cater-review-orders-btn">
<button type="button" [routerLink]="['/orders']"   routerLinkActive="router-link-active" *ngIf="reviewOrdersCount>0" class="custom-review cater-custom-review">Review Order<span class="review-seven">{{reviewOrdersCount}}</span></button>
</div>





