<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
  <ul class="navbar-nav">
      <li class="nav-item dropdown">
         <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">ALA CARTE</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> item 1</a></li>
            <li><a class="dropdown-item" href="#"> item 2 </a></li>
            <li><a class="dropdown-item" href="#"> item 3 </a></li>
            <li><a class="dropdown-item" href="#"> item 4 </a></li>
          </ul>
      </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
       <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">PARTY PACKS</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> item 1</a></li>
            <li><a class="dropdown-item" href="#"> item 2 </a></li>
            <li><a class="dropdown-item" href="#"> item 3 </a></li>
            <li><a class="dropdown-item" href="#"> item 4 </a></li>
        </ul>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
       <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">COMPOSED MEALS</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> item 1</a></li>
            <li><a class="dropdown-item" href="#"> item 2 </a></li>
            <li><a class="dropdown-item" href="#"> item 3 </a></li>
            <li><a class="dropdown-item" href="#"> item 4 </a></li>
        </ul>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
       <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">SWEETS</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> item 1</a></li>
            <li><a class="dropdown-item" href="#"> item 2 </a></li>
            <li><a class="dropdown-item" href="#"> item 3 </a></li>
            <li><a class="dropdown-item" href="#"> item 4 </a></li>
        </ul>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
       <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">FROZEN</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> item 1</a></li>
            <li><a class="dropdown-item" href="#"> item 2 </a></li>
            <li><a class="dropdown-item" href="#"> item 3 </a></li>
            <li><a class="dropdown-item" href="#"> item 4 </a></li>
        </ul>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
       <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">BEVERAGES</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> item 1</a></li>
            <li><a class="dropdown-item" href="#"> item 2 </a></li>
            <li><a class="dropdown-item" href="#"> item 3 </a></li>
            <li><a class="dropdown-item" href="#"> item 4 </a></li>
        </ul>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
       <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">DISPOSABLES</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> item 1</a></li>
            <li><a class="dropdown-item" href="#"> item 2 </a></li>
            <li><a class="dropdown-item" href="#"> item 3 </a></li>
            <li><a class="dropdown-item" href="#"> item 4 </a></li>
        </ul>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <i class="fa fa-search cater-theme-search" aria-hidden="true"></i>
    </li>
</ul>
    </div>
  </nav>

  <div class="custom-theme-description">
      <h3 class="custom-main-course">MAINS</h3>
      <p class="sub-description-text-cater">6 oz servings unless otherwise specified</p>
  </div>



  <div class="container card-container">
    <div class="row">
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"></div>
            <figcaption class="info-wrap">
                <div class="custom-image-wrap-container">
                <div>
                    <h4 class="title">Boneless Beef Short Rib</h4>
                    <p class="desc">$15</p>
                    <p class="label-rating">2 per order| GF |DF</p>
                    <div class="cart-buttons d-flex">
                        <button type="button" class="button-customize">customize</button>
                        <!-- <div> -->
                        <!-- <i class="fa fa-plus theme-one-icons" aria-hidden="true"></i> -->
                        <button type="button" class="theme-button-width-alignment">Add</button>
                    <!-- </div> -->
                    </div>
                </div>
                <div>
                        <img src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
                </div>
            </div>
                       
            </figcaption>
            
           
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"></div>
            <figcaption class="info-wrap">
                    <div class="custom-image-wrap-container">
                            <div>
                                <h4 class="title">Boneless Beef Short Rib</h4>
                                <p class="desc">$15</p>
                                <p class="label-rating">2 per order| GF |DF</p>
                                <div class="cart-buttons d-flex">
                                        <button type="button" class="button-customize">customize</button>
                                        <!-- <div> -->
                                        <!-- <i class="fa fa-plus theme-one-icons" aria-hidden="true"></i> -->
                                        <button type="button" class="theme-button-width-alignment">Add</button>
                                    <!-- </div> -->
                                    </div>
                            </div>
                            <div>
                                    <img src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
                            </div>
                        </div>
            </figcaption>
          
        </figure>
    </div> 
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"></div>
            <figcaption class="info-wrap">
                    <div class="custom-image-wrap-container">
                            <div>
                                <h4 class="title">Boneless Beef Short Rib</h4>
                                <p class="desc">$15</p>
                                <p class="label-rating">2 per order| GF |DF</p>
                                <div class="cart-buttons d-flex">
                                        <button type="button" class="button-customize">customize</button>
                                        <!-- <div> -->
                                        <!-- <i class="fa fa-plus theme-one-icons" aria-hidden="true"></i> -->
                                        <button type="button" class="theme-button-width-alignment">Add</button>
                                    <!-- </div> -->
                                    </div>
                            </div>
                            <div>
                                    <img src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
                            </div>
                        </div>
            </figcaption>
          
        </figure>
    </div>
    
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"></div>
            <figcaption class="info-wrap">
                <div class="custom-image-wrap-container">
                <div>
                    <h4 class="title">Boneless Beef Short Rib</h4>
                    <p class="desc">$15</p>
                    <p class="label-rating">2 per order| GF |DF</p>
                    <div class="cart-buttons d-flex">
                            <button type="button" class="button-customize">customize</button>
                            <!-- <div> -->
                            <!-- <i class="fa fa-plus theme-one-icons" aria-hidden="true"></i> -->
                            <button type="button" class="theme-button-width-alignment">Add</button>
                        <!-- </div> -->
                        </div>
                </div>
                <div>
                        <img src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
                </div>
            </div>       
            </figcaption>
            
        </figure>
    </div>

    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"></div>
            <figcaption class="info-wrap">
                <div class="custom-image-wrap-container">
                <div>
                    <h4 class="title">Boneless Beef Short Rib</h4>
                    <p class="desc">$15</p>
                    <p class="label-rating">2 per order| GF |DF</p>
                    <div class="cart-buttons d-flex">
                            <button type="button" class="button-customize">customize</button>
                            <!-- <div> -->
                            <!-- <i class="fa fa-plus theme-one-icons" aria-hidden="true"></i> -->
                            <button type="button" class="theme-button-width-alignment">Add</button>
                        <!-- </div> -->
                        </div>
                </div>
                <div>
                        <img src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
                </div>
            </div>       
            </figcaption>
            
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"></div>
            <figcaption class="info-wrap">
                <div class="custom-image-wrap-container">
                <div>
                    <h4 class="title">Boneless Beef Short Rib</h4>
                    <p class="desc">$15</p>
                    <p class="label-rating">2 per order| GF |DF</p>
                    <div class="cart-buttons d-flex">
                            <button type="button" class="button-customize">customize</button>
                            <!-- <div> -->
                            <!-- <i class="fa fa-plus theme-one-icons" aria-hidden="true"></i> -->
                            <button type="button" class="theme-button-width-alignment">Add</button>
                        <!-- </div> -->
                        </div>
                </div>
                <div>
                        <img src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
                </div>
            </div>       
            </figcaption>
            
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"></div>
            <figcaption class="info-wrap">
                <div class="custom-image-wrap-container">
                <div>
                    <h4 class="title">Boneless Beef Short Rib</h4>
                    <p class="desc">$15</p>
                    <p class="label-rating">2 per order| GF |DF</p>
                    <div class="cart-buttons d-flex">
                            <button type="button" class="button-customize">customize</button>
                            <!-- <div> -->
                            <i class="fa fa-plus theme-one-icons" aria-hidden="true"></i>
                            <button type="button" class="theme-button-width-alignment">Add</button>
                        <!-- </div> -->
                        </div>
                </div>
                <div>
                        <img src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
                </div>
            </div>       
            </figcaption>
            
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"></div>
            <figcaption class="info-wrap">
                <div class="custom-image-wrap-container">
                <div>
                    <h4 class="title">Boneless Beef Short Rib</h4>
                    <p class="desc">$15</p>
                    <p class="label-rating">2 per order| GF |DF</p>
                    <div class="cart-buttons d-flex">
                            <button type="button" class="button-customize">customize</button>
                            <!-- <div> -->
                            <!-- <i class="fa fa-plus theme-one-icons" aria-hidden="true"></i> -->
                            <button type="button" class="theme-button-width-alignment">Add</button>
                        <!-- </div> -->
                        </div>
                </div>
                <div>
                        <img src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
                </div>
            </div>       
            </figcaption>
            
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"></div>
            <figcaption class="info-wrap">
                <div class="custom-image-wrap-container">
                <div>
                    <h4 class="title">Boneless Beef Short Rib</h4>
                    <p class="desc">$15</p>
                    <p class="label-rating">2 per order| GF |DF</p>
                    <div class="cart-buttons d-flex">
                            <button type="button" class="button-customize">customize</button>
                            <!-- <div> -->
                            <!-- <i class="fa fa-plus theme-one-icons" aria-hidden="true"></i> -->
                            <button type="button" class="theme-button-width-alignment">Add</button>
                        <!-- </div> -->
                        </div>
                </div>
                <div>
                        <img src="assets/images/cater/01.png" alt="" class="foodie foodie-theme">
                </div>
            </div>       
            </figcaption>
            
        </figure>
    </div>
    </div>  
    </div>
  