<section id="contact">
        <div class="content">
            <div id="form" class="form-height">
                
                    
                    <span>User Name</span>
                    <input type="text" name="name" class="name" placeholder="Enter your username">
                    <span>Password</span>
                    <input id="password" placeholder="Enter your password" type="password">
                    <p class="forget-pass">forgot password?</p>
                    <input type="submit" name="submit" value="Sign In" class="submit">
                    
                
            </div>
            <div class="custom-alert-login alert-login">
                <p>Don't have an account?<span class="ml-10">Sign Up</span></p>
            </div>
        </div>
</section>
