<div class="" style="height: 86vh; overflow: auto; margin-top: 89px;">
<div class="custom-orders-header">
<h2 class="mb-0 order-content-text">Orders</h2>
</div>
  <div class="custom-inquiry-box custom-add-more">
    <div class="custom-order-items-wrapper" *ngFor="let item of cartItems; let i = index;">
      <form class="quantity-form">
        <input class="quantity" autocomplete="off" type="number" name="quantity" min="1" [(ngModel)]="item.quantity"
          (change)="changeQuantity(i,$event)" value="1">
      </form>
      <div class="custom-rate">
        <P class="custom-summer-fonts">{{item.itemName}}</P>
      </div>

      <div class="d-flex align-items-center">
        <P class="custom-font-weight">${{(item.quantity * item.price).toFixed(2)}}</P>
      </div>
    </div>

    <button type="button" [routerLink]="['/home']" routerLinkActive="router-link-active" class="custom-items-add">Add
      More Items</button>

  </div>

  <div class="custom-inquiry-box custom-add-more custom-payment-align">
    <div class="custom-total-amount">
      <p class="custom-subtotal-wrapper">Subtotal</p>
      <p class="custom-subtotal-wrapper">${{subTotal.toFixed(2)}}</p>
    </div>
    <div class="custom-taxes">
      <p class="custom-opacity">Taxes + Fees<i class="fa fa-question-circle ml-2" aria-hidden="true"></i></p>
      <p class="custom-opacity">$0.00</p>
    </div>
    <div class="custom-tip">
      <p class="custom-opacity">Tip (0%) <span class="custom-underline-text">Change</span></p>
      <p class="custom-opacity">$0.00</p>
    </div>
    <div class="custom-total-price">
      <p class="custom-subtotal-wrapper">Total</p>
      <p class="custom-subtotal-wrapper">${{subTotal.toFixed(2)}}</p>
    </div>
    <button type="button"  [routerLink]="['/order-details']" routerLinkActive="router-link-active"  class="custom-items-add">Checkout As Guest</button>
    <button type="button" [routerLink]="['/login']" routerLinkActive="router-link-active"  class="custom-items-add">Checkout As User</button>


  </div>

</div>
