<div class="main-container-wrapper">
<h1 class="custom-order-details">Order Details</h1>
<section id="contact">
  <div class="content">
    <div id="form">
      <form  [formGroup]="orderDetails" #orderDetailsForm (ngSubmit)="Submit()">
      <span>Order Name</span>
      <input type="text" formControlName="orderName"  name="name" class="name">
      <!-- <span>Date & Time</span>

      <input type="date" id="start" name="trip-start" value="" min="" max=""> -->

      <span>Order Type</span>
      <select class="custom-select col-sm-8" formControlName="orderType" id="draftStatus">
        <option selected value="Delivery">Delivery</option>
        <option value="Pickup">Pickup</option>

      </select>

      <span class="">{{orderDetailsData.orderType.value}} date</span>

      <input formControlName="Date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
      <owl-date-time #dt1 [hour12Timer]="true" ></owl-date-time>

      <span>Street</span>
      <input type=""  formControlName="street" >
      <span>Suite</span>
      <input type=""  formControlName="suite" >
      <span>City</span>
      <input type="" formControlName="city">
      <span>State</span>
      <input type=""  formControlName="state" >
      <span>Zip Code</span>
      <input type="number"  formControlName="zipCode" >
      <span>Notes:</span>
      <textarea formControlName="notes" class="form-control" rows="3"></textarea>

      <input type="submit" name="submit" [disabled]="!orderDetails.valid" value="Submit" class="submit order-details-submit">
    </form>
    </div>
  </div>
</section>
</div>
