<h1 class="custom-order-details">Order Details</h1>
<section id="contact">
  <div class="content">
    <div id="form">

      <span>Order Name</span>
      <input type="text" name="name" class="name">
      <span>Date & Time</span>

      <input type="date" id="start" name="trip-start" value="" min="" max="">

      <span>Order Type</span>
      <select class="custom-select col-sm-8" id="draftStatus">
        <option selected>Choose...</option>
        <option value="1">Delivery</option>
        <option value="2">Pickup</option>

      </select>

      <span class="custom-hidden-text">Order Type</span>

      <input type="text" name="name" class="name">



      <span>Street</span>
      <input type="" name="" class="">
      <span>Suite</span>
      <input type="" name="" class="">
      <span>City</span>
      <input type="" name="" class="">
      <span>State</span>
      <input type="" name="" class="">
      <span>Zip Code</span>
      <input type="" name="" class="">
      <span>Notes:</span>
      <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>
</section>
