<div class="modal-content">
  <div class="custom-dialog-header">
    <h4 class="label-header-dialog">E-Catering - Combo/Package Contents</h4>
  </div>
  <div class="description-dialog">
    <div class="custom-package-items">
      <p class="custom-weight-font">{{ packageData?.PackageDetails?.packageName}}</p>
      <p class="custom-font-dialog">BAKER'S BEST BASKET - ASSORTMENT OF OUR FINEST BRE</p>
    </div>
    <div class="custom-currency-dialog d-flex justify-content-between">
      <p class="custom-weight-font">${{packageData?.PackageDetails?.packageCost}}</p>
      <div class="custom-addCart-Btn">
        <div class="" >
          <input type="number" [(ngModel)]="packQuantity" [ngModel]="packageData?.PackageDetails?.PkgQty" min="1" >
          <!-- <i class="fa fa-minus-circle px-1 orange" (click)="decreasePackageQty()"></i>
          <span class="">{{packageData?.PackageDetails?.PkgQty}}</span>

          <i class="fa fa-plus-circle px-1 orange" (click)="increasePackageQty()" aria-hidden="true"></i> -->
        </div>
      </div>
    </div>
    <div>
      <div class="alert alert-info mt-2" role="alert" *ngIf="packageData?.PackageDetails?.packageType === '1' &&
                                                              packageData?.PackageDetails?.PkgQty> 0 &&
                                                              packageData?.PackageDetails?.pkgMinItems !=='0' &&
                                                              packageData?.PackageDetails?.pkgMinItems !=='0'">
        Please select between {{packageData?.PackageDetails?.pkgMinItems}} and {{packageData?.PackageDetails?.pkgMaxItems}} items from this list. The total item quantity should be less than or equal to  {{packageData?.PackageDetails?.PkgQty}}.
      </div>
      <div class="alert alert-info mt-2" role="alert" *ngIf="packageData?.PackageDetails?.packageType === '1' &&
          packageData?.PackageDetails?.PkgQty>0 &&
         packageData?.PackageDetails?.pkgMinItems ==='0' &&
        packageData?.PackageDetails?.pkgMinItems ==='0'">
        Note : Please select your items from this list. The total item quantity should be less than or equal to {{packageData?.PackageDetails?.PkgQty}}
      </div>
      <div *ngFor="let item of packageData?.PackageItems;let i=index;" class="custom-currency-dialog d-flex justify-content-between custom-border-wrapper">
        <p class="custom-weight-font">{{item.pkgItemname}}</p>
        <div class="custom-addCart-Btn">
          <div class=""  *ngIf="packageData?.PackageDetails?.packageType === '1'">
            <input type="number"  [(ngModel)]="packItemQuantity[i]"  [ngModel]="item['pkgItemQty']" min="0">
            <!-- <i class="fa fa-minus-circle px-1 orange" *ngIf="item.pkgItemQty>0" (click)="decreaseItemQty(item)"></i>
            <span class=""  *ngIf="item.pkgItemQty>0">{{item.pkgItemQty}}</span>
            <i class="fa fa-plus-circle px-1 orange" (click)="increaseItemQty(item)" aria-hidden="true"></i> -->
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="pull-right" type="save" value="save" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
