<div class="modal-content">
<div class="custom-dialog-header">
    <h4 class="label-header-dialog">E-Catering - Combo/Package Contents</h4>
</div>
<div class="description-dialog">
<div class="custom-package-items">
    <p class="custom-weight-font">Bakery + Bagels</p>
    <p class="custom-font-dialog">BAKER'S BEST BASKET - ASSORTMENT OF OUR FINEST BRE</p>
    <span>Note: </span>
    <input type="text" class="name custom-dialog-input" placeholder="">
</div>
<div class="custom-currency-dialog d-flex justify-content-between">
    <p class="custom-weight-font">$65.00</p>
    <div class="custom-addCart-Btn">
        <div class="">
           <i class="fa fa-minus-circle px-1 orange"></i>
           <span class="">1</span>
           <i class="fa fa-plus-circle px-1 orange" aria-hidden="true"></i>
        </div>
     </div>
</div>
<div>
<div class="custom-currency-dialog d-flex justify-content-between custom-border-wrapper">
    <p class="custom-weight-font">Caprese Wrap</p>
    <div class="custom-addCart-Btn">
        <div class="">
           <i class="fa fa-minus-circle px-1 orange"></i>
           <span class="">1</span>
           <i class="fa fa-plus-circle px-1 orange" aria-hidden="true"></i>
        </div>
     </div>
</div>
<div class="custom-currency-dialog d-flex justify-content-between custom-border-wrapper">
    <p class="custom-weight-font">Caprese Wrap</p>
    <div class="custom-addCart-Btn">
        <div class="">
           <i class="fa fa-minus-circle px-1 orange"></i>
           <span class="">1</span>
           <i class="fa fa-plus-circle px-1 orange" aria-hidden="true"></i>
        </div>
     </div>
</div>
<div class="custom-currency-dialog d-flex justify-content-between custom-border-wrapper">
    <p class="custom-weight-font">Caprese Wrap</p>
    <div class="custom-addCart-Btn">
        <div class="">
           <i class="fa fa-minus-circle px-1 orange"></i>
           <span class="">1</span>
           <i class="fa fa-plus-circle px-1 orange" aria-hidden="true"></i>
        </div>
     </div>
</div>
</div>
<div>
<button class="pull-right" type="save" value="save">Save</button>
</div>
</div>
</div>
